fastapi
uvicorn[standard]

sqlalchemy
psycopg[binary]
python-dotenv

google-genai

pydantic
pydantic-settings

GitPython

networkx

radon
lizard

pandas
numpy

requests
httpx

python-multipart
aiofiles

matplotlib